<h3 class="text-center">Products</h3>

<% @products.each_slice(2) do |products| %>
<div class="row">
  <% products.each do |product| %>
    <%= render "product_row", product: product, order_item: @order_item %>
  <% end %>
</div>
<br/>
<br/>
<% end %>
